body {
    margin: 0;
    padding: 0;
}

.main-div {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.first-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    background-image: url('dark-graphic-wavy-wallpaper/3293677.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -400px;
    color: white;
    position: relative;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.title p {
    font-size: 30px;
}

.para p {
    font-size: 70px;
    width: 54%;
    margin: auto;
    text-align: center;
    color: white;
}

.first-div button,
.third-div button {
    padding: 20px;
    border-radius: 0;
    background-color: rgb(129, 221, 201);
    border: 0;
    font-weight: 700;
    font-size: 17px;
}

.sec-div {
    width: 80%;
    margin: 0 auto;
}

.sec-div ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.sec-div li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-div li h3 {
    border: 1px solid black;
    border-radius: 100%;
    padding: 10px 15px;
}

.sec-div h2 {
    font-size: 30px;
}

.sec-div p {
    width: 70%;
    font-weight: 300;
    font-size: 18px;
}

.third-div {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
}

.third-div img {
    width: 400px;
    z-index: -1;
    position: relative;
    left: 30px;
}

.third-div div {
    background-color: rgb(18, 32, 57);
    z-index: 0;
    bottom: -50;
    position: relative;
    right: 30px;
    top: 140px;
    width: 450px;
    padding: 40px;
}
.third-div h2{
    font-size: 45px;
}
.third-div p{
    font-size: 15px;
    width: 85%;
    font-weight: 200;
}
footer{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
footer p{
    font-size: 30px;
    font-weight: 300;
    
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 20px;
}
footer i{
    opacity: 70%;
}

.under-color{
    color:  rgb(129, 221, 201);
}